@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #f8bdb7;
  /* --line-color: #9CA3AF; */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #dbeafe,
    #fee2e2
  ); /* from-blue-100 to-red-100 */
  display: flex;
  flex-direction: column;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
